[user]
	email = attila.mitrocsak@gmail.com
	name = Attila Mitrocsak
[includeIf "gitdir:/work/src/emotech/"] 
	path = .gitconfig-emotech
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	fileMode = true
